{% extends 'base.html.twig' %}

{% block title %}Hello WineController!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center text-center">
    {{ form_start(form, {'action': path('wine'), 'method': 'POST'}) }}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
        <h4>le nom de ton vin</h4>
        {{ form_row(form.name, {'label':false}) }}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        {{ form_row(form.year) }}
    </div>
    {{ form_row(form.comment) }}
    {{ form_row(form.grapes) }}
    {{ form_row(form.vignoble) }}
    {{ form_row(form.picture) }}
    </div>


    <input type='submit' value='Add category'>
    {{ form_end(form) }}
{% endblock %}
